.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    color: white;
    /* background-color: #7f24ff; */
    background: linear-gradient(167deg, rgba(244,0,107,1) 20%, rgba(0,0,0,0.9948354341736695) 37%);
}